<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (08/30/2023, 40 points in total)**
This exercise is due tomorrow 08/31/203 11:59 PM.

(1) Write a Python program to calculate the area of a rectangle using user-input length and width.

In [ ]:
# write your answer here

(2) Create a program that takes two numbers from the user and swaps their values without using a temporary variable.

In [ ]:
# write your answer here

(3) Write a Python program to calculate the length of a string.

In [ ]:
# write your answer here

(4) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘,

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
# write your answer here

(5) Write a Python program to sum all the items in a list.

In [ ]:
# write your answer here

(6) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself.

Sample String : 'restart‘,

Expected Result : 'resta\$t'

In [ ]:
# write your answer here

(7) Create a program that calculates the factorial of a number using a while loop.

In [ ]:
# write your answer here

(8) Create a program that takes a list of numbers as input and outputs a new list with only the even numbers.

In [ ]:
# write your answer here

(9) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where

$\ S=3.14*(1+a/b)^3$

In [ ]:
# write your answer here

(10) Write a Python program to concatenate following dictionaries to create a new one.

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60},

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# write your answer here

(11) Write a Python function that accepts a tuple of integers and returns the largest and smallest elements.

In [ ]:
# write your answer here

(12) Write a Python program that counts the frequency of each character in a given string and stores it in a dictionary.

In [1]:
stringCount = input("Enter the String: ")#Input the values
frequency = {}

for each in stringCount: #Loop statement
    if each in frequency:
        frequency[each] += 1
    else:
        frequency[each] = 1

print(frequency) #printing the frequency
print(type(frequency)) #type

Enter the String: Sujit  Giridharan
{'S': 1, 'u': 1, 'j': 1, 'i': 3, 't': 1, ' ': 2, 'G': 1, 'r': 2, 'd': 1, 'h': 1, 'a': 2, 'n': 1}
<class 'dict'>

(13) Write a Python program to check whether an element exists within a tuple.

In [2]:
numbers = (1, 20 , 33, 40 , 50 , 6 , 7 ,8) #Input
check = int(input("Enter elements to Search")) #to check in the numbers

if check in numbers: #To check if it exits
  print(f"{check} exists")
else:
  print(f"{check} does not exist")

Enter elements to Search33
33 exists

(14) Write a Python program to find maximum and the minimum value in a set.

In [3]:
value = input("Enter the numbers") #input the values
value1 = value.split() # split the elements

setNum = set(map(int, value1)) #converting into integers and create a set

max = max(setNum)
min = min(setNum)

print(" The Max value is", max)#printing max value
print(" The Min value is", min)#printing min value

Enter the numbers12 34 54 123 432 9 1
 The Max value is 432
 The Min value is 1

(15) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list:
student_list_fall_2023=['sb1826' ,
 'lb0582' ,
 'ab1820' ,
 'sb1883' ,
 'mb1296' ,
 'sc1622' ,
 'tc0469' ,
 'ac1770' ,
 'mc1453' ,
 'ad1187' ,
 'sd0926' ,
 'sd1268' ,
 'ag1609' ,
 'sg1638' ,
 'mg1299' ,
 'vkk0022' ,
 'bk0413' ,
 'gk0257' ,
 'am2807' ,
 'gm0558' ,
 'pm0658' ,
 'am2346' ,
 'rm1090' ,
 'sm2364' ,
 'sm2747' ,
 'sm2343' ,
 'vm0597' ,
 'htn0086' ,
 'sp2075' ,
 'gp0306' ,
 'lp0502' ,
 'sr1508' ,
 'vr0331' ,
 'yr0180' ,
 'as2819' ,
 'ss2981' ,
 'ns0756' ,
 'mt0825' ,
 'dt0463' ,
 'su0137' ,
 'dv0310'
]

In [4]:
import random #importing random

student_list_fall_2023=['sb1826' , 'lb0582' , 'ab1820' , 'sb1883' , 'mb1296' , 'sc1622' , 'tc0469' , 'ac1770' , 'mc1453' , 'ad1187' , 'sd0926' , 'sd1268' , 'ag1609' , 'sg1638' , 'mg1299' , 'vkk0022' , 'bk0413' , 'gk0257' , 'am2807' , 'gm0558' , 'pm0658' , 'am2346' , 'rm1090' , 'sm2364' , 'sm2747' , 'sm2343' , 'vm0597' , 'htn0086' , 'sp2075' , 'gp0306' , 'lp0502' , 'sr1508' , 'vr0331' , 'yr0180' , 'as2819' , 'ss2981' , 'ns0756' , 'mt0825' , 'dt0463' , 'su0137' , 'dv0310' ]

random.shuffle(student_list_fall_2023) #shuffling the list

size = 6
count =len(student_list_fall_2023) // size
#dividing into groups
group =[student_list_fall_2023[each*size :(each +1)* size] for each in range(count)]

for each, group in enumerate(group):
  print(group) #printing the groups

['pm0658', 'gk0257', 'ag1609', 'lb0582', 'mt0825', 'am2807']
['sp2075', 'htn0086', 'ss2981', 'su0137', 'mb1296', 'sb1883']
['am2346', 'sd0926', 'dt0463', 'sb1826', 'gm0558', 'gp0306']
['sm2747', 'ns0756', 'dv0310', 'sr1508', 'ad1187', 'ab1820']
['sm2343', 'mg1299', 'yr0180', 'lp0502', 'sg1638', 'mc1453']
['tc0469', 'sm2364', 'ac1770', 'vr0331', 'as2819', 'rm1090']

(16) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements.

In [5]:
def duplicates(arr):
  duplicates =[] #for storing duplicates

  for each in arr: #loop to check if it appers more than once
    if arr.count(each) > 1 and each not in duplicates:
      duplicates.append(each)

  if not duplicates: #retuen -1 if no duplicates
    return -1

  else:
    return duplicates

valuearray = [2,3,4,5,6,7,1,2,4,5,5,4,3,6] #input values
final = duplicates(valuearray)

if final == -1:
  print("No Duplicates") #print
else:
  print("Duplicates", final) # print

Duplicates [2, 3, 4, 5, 6]

(17) Write a Python program to select all the Sundays of a specified year.

In [6]:
import datetime #import datetime

year =int(input("Enter the Year: ")) #input for the year

for mon in range(1, 13): #loop to check Sundays
  for day in range(1,32):
    try:
        date = datetime.date(year, mon, day)
        if date.weekday()==6: #6 is represented by Sunday
          print(date)
    except ValueError:
          break

Enter the Year: 1995
1995-01-01
1995-01-08
1995-01-15
1995-01-22
1995-01-29
1995-02-05
1995-02-12
1995-02-19
1995-02-26
1995-03-05
1995-03-12
1995-03-19
1995-03-26
1995-04-02
1995-04-09
1995-04-16
1995-04-23
1995-04-30
1995-05-07
1995-05-14
1995-05-21
1995-05-28
1995-06-04
1995-06-11
1995-06-18
1995-06-25
1995-07-02
1995-07-09
1995-07-16
1995-07-23
1995-07-30
1995-08-06
1995-08-13
1995-08-20
1995-08-27
1995-09-03
1995-09-10
1995-09-17
1995-09-24
1995-10-01
1995-10-08
1995-10-15
1995-10-22
1995-10-29
1995-11-05
1995-11-12
1995-11-19
1995-11-26
1995-12-03
1995-12-10
1995-12-17
1995-12-24
1995-12-31

(18) Build a program that calculates the factorial of a given positive integer. The factorial of a non-negative integer n is the product of all positive integers less than or equal to n.

In [7]:
postiveInt = int(input("Enter Positive Number ")) #input for psitiveinteger

#Calculating Factorial
fac = 1
for each in range(1, postiveInt+1):
  fac*=each
print("Factorial is", fac) #Printing the output

Enter Positive Number 23
Factorial is 25852016738884976640000

(19) Write a program that takes a positive integer n as input and prints the count of even numbers from 1 to n. Use a loop to iterate through the numbers and utilize the break statement to optimize the loop.

In [8]:
n = int(input("Enter Positive Number")) #input of the file
countEven = 0 #to count the even numbers

for each in range(1, n+1): #loop to check even numbers
  if each%2==0:
    countEven +=1
print("Even Numbers are: ", countEven) #printing the output

Enter Positive Number36
Even Numbers are:  18

(20) Write a Python function called count_vowels that takes a string as input and returns the count of vowels (both lowercase and uppercase) present in the string. Consider the vowels to be 'a', 'e', 'i', 'o', and 'u'. Ignore spaces and other non-alphabetic characters.

In [9]:
def countVowels(inputVal): #to count the no of vowels
  vowels ='aeiouAEIOU'
  return sum(1 for each in inputValues if each in vowels)

inputValues = input("Enter the String ") # input the string
countvowels = countVowels(inputValues)
print("Number of Vowels: ", countvowels) #Output the values

Enter the String Sujit Giridharan in class assignment
Number of Vowels:  11